<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1" />
    <title>Cadastro de Usuário</title>
</head>
<body>

<h3>Cadastro de Usuário</h3>

<form th:action="@{/saveUser}" method="post">
<pre>
Nome :     <input type="text" name="nome"/>

Email:     <input type="text" name="email"/>

Senha:     <input type="password" name="senha"/>

Perfis:
           <input type="checkbox" name="perfis" value="Admin"/> Admin
           <input type="checkbox" name="perfis" value="Manager"/> Manager
           <input type="checkbox" name="perfis" value="HR"/> HR
           <input type="checkbox" name="perfis" value="Employee"/> Employee

<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

<input type="submit" value="Cadastrar"/>

</pre>
</form>

<div th:text="${msg}"></div>

</body>
</html>